apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: students-db-pvc
  namespace: students-app
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: gp2

